header {
    background-color: #7b7b7b;
    padding: 2px;    
}

body {
    background-color: #111927;
}

#landing {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#centered-heading {
    font-family: neue-haas-unica,sans-serif;
    height: 10vh;
    text-align: center;
    color: white;
}

#centered-slogan {
    font-family: neue-haas-unica,sans-serif;
    text-align: center;
    color: lightblue;
}

#about {
    font-family: neue-haas-unica,sans-serif;
    text-align: center;
    color: #9fef00;
}

#contacto {
    font-family: neue-haas-unica,sans-serif;
    text-align: center;
    color: #9fef00;
    height: 10vh;
}

.cars {
    margin: 35px;
    border: 1px solid #ccc;
    float:left;
    width: 180px;
}

.cars:hover {
    border: 1px solid #777;
}

.car-image {
    width: 180;
    height: 100;
    object-fit: cover;
}

.description {
    padding: 15px;
    text-align: center;
    color: white;
}